<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.adminMapper">

<!-- Num의 최댓값 -->
<select id="goodsMaxNum" resultType="int">
	select nvl(max(num), 0) from Goods
</select>

<!-- 상품 등록 -->
<insert id="insertGoods" parameterType="com.project.dto.GoodsDTO">
	insert into goods(G_NUM, G_NAME, G_COUNT, G_PRICE, G_SELLCOUNT, G_CONTENT, G_DISCOUNT, G_PHOTO)
		values(#{G_NUM}, #{G_NAME}, 0, #{G_PRICE}, 0, #{G_CONTENT}, #{G_DISCOUNT}, #{G_PHOTO})
</insert>

<!-- 상세상품 등록 -->
<insert id="insertGoodsDetail" parameterType="com.project.dto.GoodsDetailDTO">
	insert into goods_detail(GD_NUM, GD_CODE, GD_KIND_NUM, GD_DEVICE, GD_COLOR, GD_COUNT, GD_SELLCOUNT)
		values(#{GD_NUM}, #{GD_CODE}, #{GD_KIND_NUM}, #{GD_DEVICE}, #{GD_COLOR}, #{GD_COUNT}, 0)
</insert>

<!-- 데이터 수정 -->
<update id="updateGoods" parameterType="com.project.dto.MemberDTO">
	
</update>

<!-- 데이터 삭제 -->
<delete id="deleteGoods" parameterType="String">
	delete Goods where g_code = #{g_code}
</delete>


</mapper>