<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.buyMapper">

<!-- 상세 상품 한개의 데이터 -->
<select id="getReadGoodsDetail" parameterType="String" resultType="com.project.dto.GoodsDetailDTO">
	select GD_NUM, GD_CODE, GD_KIND_NUM, GD_DEVICE, DK_NAME, GD_COLOR, GC_COLOR, GD_COUNT, GD_SELLCOUNT
	from Goods_Detail, (select DK_CODE, DK_NAME from DEVICE_KIND), (select GC_CODE, GC_COLOR from GOODS_COLOR)
	where GD_CODE = #{gd_code} and GD_DEVICE = DK_CODE and GD_COLOR = GC_CODE
	order by GD_DEVICE, GD_COLOR
</select>

<!-- 결제 후 상세 상품 재고 감소 -->
<update id="goodsDetailCountDown" parameterType="map">
	update GOODS_DETAIL set GD_COUNT = GD_COUNT - #{count} where GD_CODE = #{code}
</update>

<!-- 환불 후 상세 상품 재고 증가 -->
<update id="goodsDetailCountUp" parameterType="map">
	update GOODS_DETAIL set GD_COUNT = GD_COUNT + #{count} where GD_CODE = #{code}
</update>

<select id="ordersMaxNum" resultType="int">
	select nvl(max(O_NUM), 0) from Orders
</select>

<!-- Order테이블에 추가 -->
<insert id="insertOrders" parameterType="map">
	insert into Orders O_NUM, O_ID, O_DATE, O_NAME, O_PH, O_ZIPCODE, O_ADDRESS1, O_ADDRESS2, O_STATUS, O_WAY, O_TOT, O_TNUM
	values (#{O_NUM}, #{O_ID}, sysdate, #{O_NAME}, #{O_PH}, #{O_ZIPCODE}, #{O_ADDRESS1}, #{O_ADDRESS2}, '배송준비중', '카드결제', #{O_TOT}, null)
</insert>



</mapper>