<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.buyMapper">

<!-- 상세 상품 한개의 데이터 -->
<select id="getReadGoodsDetail" parameterType="String" resultType="com.project.dto.GoodsDetailDTO">
	select GD_NUM, GD_CODE, GD_KIND_NUM, GD_DEVICE, DK_NAME, GD_COLOR, GC_COLOR, GD_COUNT, GD_SELLCOUNT
	from Goods_Detail, (select DK_CODE, DK_NAME from DEVICE_KIND), (select GC_CODE, GC_COLOR from GOODS_COLOR)
	where GD_CODE = #{gd_code} and GD_DEVICE = DK_CODE and GD_COLOR = GC_CODE
	order by GD_DEVICE, GD_COLOR
</select>

<!-- 결제 후 상세 상품 재고 감소, 판매수량 증가 -->
<update id="goodsDetailCountDown" parameterType="map">
	update GOODS_DETAIL set GD_COUNT = GD_COUNT - #{count}, GD_SELLCOUNT = GD_SELLCOUNT + #{count} where GD_CODE = #{code}
</update>

<!-- 환불 후 상세 상품 재고 증가, 판매수량 감소 -->
<update id="goodsDetailCountUp" parameterType="map">
	update GOODS_DETAIL set GD_COUNT = GD_COUNT + #{count}, GD_SELLCOUNT = GD_SELLCOUNT - #{count} where GD_CODE = #{code}
</update>

<!-- 포인트 감소 -->
<update id="pointMinus" parameterType="map">
	update member set m_point = m_point - #{m_point} where m_id = #{m_id}
</update>

<!-- 포인트 증가 -->
<update id="pointAdd" parameterType="map">
	update member set m_point = m_point + #{m_point} where m_id = #{m_id}
</update>

<select id="ordersMaxNum" resultType="int">
	select nvl(max(O_NUM), 0) from Orders
</select>

<!-- Orders 테이블에 추가 -->
<insert id="insertOrders" parameterType="map">
	insert into Orders (O_NUM, O_ID, O_DATE, O_NAME, O_PH, O_ZIPCODE, O_ADDRESS1, O_ADDRESS2, O_STATUS, O_WAY, O_TOT, O_TNUM, O_IMP, O_POINT)
	values (#{O_NUM}, #{O_ID}, sysdate, #{O_NAME}, #{O_PH}, #{O_ZIPCODE}, #{O_ADDRESS1}, #{O_ADDRESS2}, '배송준비중', '카드결제', #{O_TOT}, null, #{O_IMP}, #{O_POINT})
</insert>

<!-- 상세 상품 한개의 데이터 -->
<select id="getReadGoodsDetailMap" parameterType="map" resultType="com.project.dto.GoodsDetailDTO">
	select GD_NUM, GD_CODE, G_NAME, G_PRICE, GD_KIND_NUM, GD_DEVICE, DK_NAME, GD_COLOR, GC_COLOR, GD_COUNT, GD_SELLCOUNT, G_DISCOUNT
	from Goods_Detail, (select DK_CODE, DK_NAME from DEVICE_KIND), (select GC_CODE, GC_COLOR from GOODS_COLOR),
	(select G_NAME, G_PRICE, G_DISCOUNT from Goods where G_NUM=#{g_num})
	where GD_CODE = #{gd_code} and GD_DEVICE = DK_CODE and GD_COLOR = GC_CODE
	order by GD_DEVICE, GD_COLOR
</select>

<!-- Order_Detail 테이블에 추가 -->
<insert id="insertOrderDetail" parameterType="map">
	insert into Order_Detail (OD_NUM, OD_CODE, OD_NAME, OD_DEVICE, OD_COLOR, OD_COUNT, OD_PRICE, OD_DISCOUNT)
	values (#{OD_NUM}, #{OD_CODE}, #{OD_NAME}, #{OD_DEVICE}, #{OD_COLOR}, #{OD_COUNT}, #{OD_PRICE}, #{OD_DISCOUNT})
</insert>

<!-- 주문내역 조회 -->
<select id="getReadOrders" parameterType="String" resultType="com.project.dto.OrdersDTO">
	select O_NUM, O_ID, O_DATE, O_NAME, O_PH, O_ZIPCODE, O_ADDRESS1, O_ADDRESS2, O_STATUS, O_WAY, O_TOT, O_TNUM, O_IMP, O_POINT
	from Orders
	where O_NUM = #{o_num}
</select>

<!-- 배송상태 변경 -->
<update id="updateStatus" parameterType="String">
	update Orders set O_STATUS = '환불 완료' where O_NUM = #{o_num}
</update>

<!-- 주문 상세 내역 데이터 -->
<select id="getReadOrderDetail" parameterType="String" resultType="com.project.dto.OrderDetailDTO">
	select OD_NUM, OD_CODE, OD_NAME, OD_DEVICE, OD_COLOR, OD_COUNT, OD_PRICE, OD_DISCOUNT
	from ORDER_DETAIL
	where OD_NUM = #{o_num}
</select>



</mapper>