<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.cartMapper">

<!-- C_NUM 구하기 -->
<select id="getMaxNum" resultType="int">
	select nvl(max(C_NUM), 0) from Cart
</select>

<!-- 장바구니 추가 -->
<insert id="insertCartItem" parameterType="com.project.dto.CartDTO">
	insert into Cart (C_NUM, C_CODE, C_ID, C_NAME, C_COUNT) values(#{C_NUM}, #{C_CODE}, #{C_ID}, #{C_NAME}, #{C_COUNT})
</insert>

<!-- 장바구니 개수 구하기 -->
<select id="getCartCount" parameterType="String" resultType="int">
	select nvl(count(*), 0) from Cart where C_ID = #{c_id}
</select>

<!-- 장바구니 리스트 -->
<select id="getCartLists" parameterType="hashMap" resultType="com.project.dto.CartDTO">
	select * from (
	select rownum rnum, data.* from (
	select C_NUM, C_GNUM, C_CODE, C_ID, C_NAME, C_DEVICE, C_COLOR, C_COUNT, C_SAVEFILENAME, C_PRICE
	from Cart, (select G_PRICE as C_PRICE, G_SAVEFILENAME as C_SAVEFILENAME, G_NUM from Goods),
	(select GD_NUM as C_GNUM, GD_CODE, GD_DEVICE, GD_COLOR from Goods_Detail),
	(select DK_CODE, DK_NAME as C_DEVICE from DEVICE_KIND), (select GC_CODE, GC_COLOR as C_COLOR from GOODS_COLOR)
	where C_ID = #{c_id} and C_CODE = GD_CODE and GD_DEVICE = DK_CODE and GD_COLOR = GC_CODE and C_GNUM = G_NUM order by C_NUM desc) data)
<![CDATA[
	where rnum >= #{start} and rnum <= #{end}
]]>
</select>

<!-- 장바구니 코드로 조회 -->
<select id="getCartItem" parameterType="String" resultType="com.project.dto.CartDTO">
	select C_NUM, C_GNUM, C_CODE, C_ID, C_NAME, C_DEVICE, C_COLOR, C_COUNT, C_SAVEFILENAME, C_PRICE
	from Cart, (select G_PRICE as C_PRICE, G_SAVEFILENAME as C_SAVEFILENAME, G_NUM from Goods),
	(select GD_NUM as C_GNUM, GD_CODE, GD_DEVICE, GD_COLOR from Goods_Detail),
	(select DK_CODE, DK_NAME as C_DEVICE from DEVICE_KIND), (select GC_CODE, GC_COLOR as C_COLOR from GOODS_COLOR)
	where C_NUM = #{c_num} and C_CODE = GD_CODE and GD_DEVICE = DK_CODE and GD_COLOR = GC_CODE and C_GNUM = G_NUM
</select>

<!-- 장바구니 개별 비우기 -->
<delete id="deleteCartItem" parameterType="int">
	delete Cart where C_NUM = #{c_num}
</delete>

<!-- 장바구니 전체 비우기 -->
<delete id="deleteCartAll" parameterType="String">
	delete Cart where C_ID = #{c_id}
</delete>

<!-- 장바구니 수량 수정 -->
<update id="updateCartItem" parameterType="hashMap">
	update Cart set C_COUNT = #{c_count} where C_CODE = #{c_code}
</update>

<!-- 상품의 재고수량 조회 -->
<select id="countGoods" parameterType="String" resultType="int">
	select GD_COUNT from GOODS_DETAIL where GD_CODE = #{g_code}
</select>

</mapper>