<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.mybatis.joinMapper">


<!-- 회원가입 -->
<insert id="insertMember" parameterType="com.project.dto.MemberDTO" >
	insert into member (M_RANK, M_ID, M_PW, M_NAME, M_ZIPCODE, M_ADDRESS1, M_ADDRESS2, M_EMAIL_ID, M_EMAIL_DOMAIN, M_CELLPHONE1, M_CELLPHONE2, M_CELLPHONE3, M_POINT, M_DATE, M_NICKNAME)
	values ('customer', #{M_ID}, #{M_PW}, #{M_NAME}, #{M_ZIPCODE}, #{M_ADDRESS1}, #{M_ADDRESS2}, #{M_EMAIL_ID}, #{M_EMAIL_DOMAIN}, #{M_CELLPHONE1}, #{M_CELLPHONE2}, #{M_CELLPHONE3},0,sysdate,#{M_NICKNAME})
</insert>

<!-- 아이디 중복체크 -->
<!-- 테이블에 저장된 아이디의 갯수를 가져온다 -->
<select id="idCheck" parameterType="HashMap" resultType="HashMap">
 <![CDATA[
	Select COUNT(M_ID) AS RESULT FROM member where M_ID = #{M_ID}
	]]>
</select>

<!-- 닉네임 중복체크 -->
<select id="nickCheck" parameterType="HashMap" resultType="HashMap">
 <![CDATA[
	Select COUNT(M_NICKNAME) AS RESULT FROM member where M_NICKNAME = #{M_NICKNAME}
	]]>
</select>

</mapper>