<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.mybatis.joinMapper">


<!-- 회원가입 -->
<insert id="insertMember" parameterType="com.project.dto.MemberDTO" >
	insert into member (M_RANK, M_ID, M_PW, M_NAME, M_ZIPCODE, M_ADDRESS1, M_ADDRESS2, M_EMAIL_ID, M_EMAIL_DOMAIN, M_CELLPHONE1, M_CELLPHONE2, M_CELLPHONE3, M_DATE, M_POINT, M_NICKNAME)
	values(customer, #{M_ID,jdbcType=VARCHAR}, #{M_PW,jdbcType=VARCHAR}, #{M_NAME}, #{M_ZIPCODE}, #{M_ADDRESS1}, #{M_ADDRESS2}, #{M_EMAIL_ID}, #{M_EMAIL_DOMAIN}, #{M_CELLPHONE1}, #{M_CELLPHONE2}, #{M_CELLPHONE3},sysdate,0,#{M_NICKNAME})
</insert>

</mapper>