<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.myPageMapper">


	<!-- 아이디로 개인정보 뿌리기 -->
	<select id="infocheck" parameterType="String" resultType="com.project.dto.MemberDTO">
		select M_RANK, M_ID, M_PW, M_NAME, M_ZIPCODE, M_ADDRESS1, M_ADDRESS2, M_EMAIL_ID, M_EMAIL_DOMAIN, M_CELLPHONE1, M_CELLPHONE2, M_CELLPHONE3, M_DATE, M_POINT, M_NICKNAME from member where M_ID = #{M_ID}
	</select>
	
	<!-- 업데이트 -->
	<update id="updateInfo" parameterType="map">
		update member set M_PW = #{M_PW}, M_ZIPCODE = #{M_ZIPCODE}, M_ADDRESS1=#{M_ADDRESS1}, M_ADDRESS2=#{M_ADDRESS2}, M_EMAIL_ID=#{M_EMAIL_ID}, M_EMAIL_DOMAIN=#{M_EMAIL_DOMAIN}, 
							M_CELLPHONE1 = #{M_CELLPHONE1}, M_CELLPHONE2 = #{M_CELLPHONE2}, M_CELLPHONE3 = #{M_CELLPHONE3}, M_NICKNAME = #{M_NICKNAME} where M_ID = #{M_ID}
	</update>
	<!-- 포인트 조회 -->
	<select id="pointCheck" parameterType="String" resultType="int">
		select M_POINT from member where M_ID = #{M_ID}
	</select>
	<!-- 사용한 포인트 조회 -->
	<select id="usedPointCheck" parameterType="String" resultType="int">
		select sum(O_Point) from orders where O_ID = #{O_ID} order by O_ID
	</select>

<!-- 회원탈퇴 -->

	<!-- Leave 테이블의 넘버부여 -->
	<select id="maxLeaveNum" resultType="int">
		select count(*) from leave
	</select>

	<!-- 탈퇴회원 테이블에 데이터 추가 -->
	<insert id="copyUserData" parameterType="map">
		insert into leave (L_NUM,L_ID,L_NAME,L_REASON,L_DATE,L_PH) values (#{L_NUM},#{L_ID},#{L_NAME},#{L_REASON},sysdate,#{L_PH})
	</insert>

	<!-- 그리고 맴버테이블의 데이터 삭제 -->
	<delete id="cancelMembership" parameterType="String">
		delete member where M_ID = #{M_ID}
	</delete>

</mapper>