<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mybatis.ordersHistoryMapper">

	<!-- 아이디로 주문내역 조회 -->
	<select id="selectOrderNum" parameterType="map" resultType="integer">
		select O_NUM from(
			select ROWNUM rnum,O_NUM,O_ID from (
				select * from(
				select O_NUM, o_date,O_ID from ORDERS
				where O_ID = #{O_ID}
	<![CDATA[ 
				and to_char(trunc(O_DATE),'YYYY-MM-DD') >= to_date(#{start_date},'YYYY-MM-DD') 
				and to_char(trunc(O_DATE),'YYYY-MM-DD') <= to_date(#{end_date}, 'YYYY-MM-DD')
			)order by O_date desc) data) where rnum>= #{start} and rnum <= #{end}	
	]]>
	</select>

	<!-- id,날짜순으로 짜르고 날짜로 정렬 한 rowNum의 가장큰값 -->
	<select id="selectMaxRowNum" parameterType="map" resultType="int">
	select max(rnum) from(
		select ROWNUM rnum,O_NUM,O_ID from (
			select * from(
			select O_NUM, o_date,O_ID from ORDERS
			where O_ID = #{O_ID}
	<![CDATA[ 
			and to_char(trunc(O_DATE),'YYYY-MM-DD') >= to_date(#{start_date},'YYYY-MM-DD') 
			and to_char(trunc(O_DATE),'YYYY-MM-DD') <= to_date(#{end_date}, 'YYYY-MM-DD'))
		order by O_date desc) data)
	]]>
	</select>
	
	<!-- 메인페이지의 외 몇개의 상품인지 체크할 카운트 쿼리 -->
	<select id="maxOrders" parameterType="map" resultType="int">
		select nvl(count(O_NUM),0) from ORDERS where O_ID = #{O_ID}
	<![CDATA[
	   and to_char(trunc(O_DATE),'YYYY-MM-DD') >= to_date(#{start_date}, 'YYYY-MM-DD' )
	   and to_char(trunc(O_DATE),'YYYY-MM-DD') <= to_date(#{end_date}, 'YYYY-MM-DD')
	]]>
	</select>
	<!-- 상세정보보기 에서 뿌릴 상품관련 정보 for문 -->
	<select id="selectOrderDetail" parameterType="map" resultType="com.project.dto.OrderDetailDTO">
		select OD_NUM,OD_CODE,OD_NAME,OD_DEVICE,OD_COLOR,OD_COUNT,OD_PRICE,OD_DISCOUNT,GD_NUM,G_SAVEFILENAME from(
			(select OD_NUM,OD_CODE,OD_NAME,OD_DEVICE,OD_COLOR,OD_COUNT,OD_PRICE,OD_DISCOUNT,GD_NUM,G_SAVEFILENAME,O_NUM,O_ID from ORDER_DETAIL,
			(select GD_NUM,GD_CODE from GOODS_DETAIL),(select G_NUM,G_SAVEFILENAME from goods),(select O_ID,O_NUM from ORDERS)
				where O_NUM=OD_NUM AND OD_CODE = GD_CODE and GD_NUM = G_NUM) data)
		where OD_NUM = #{O_NUM} and O_ID = #{O_ID}
	</select>
	
	<!-- 상세정보보기 받는사람 정보 및 결제 관련 dto -->
	<select id="selectRecipientInfo" parameterType="map" resultType="com.project.dto.OrdersDTO">
		select O_NUM,O_ID,O_DATE,O_NAME,O_PH,O_ZIPCODE,O_ADDRESS1,O_ADDRESS2,O_STATUS,O_WAY,O_TOT,O_TNUM,O_IMP,O_POINT from orders where O_ID = #{O_ID} and O_NUM=#{O_NUM}
	</select>

	<select id="OrderHistoryMain" parameterType="map" resultType="com.project.dto.OrderHistoryDTO">
		select O_NUM,to_char(trunc(O_DATE),'YYYY-MM-DD') O_DATE,O_STATUS,O_WAY,O_TOT,O_TNUM,O_IMP,OD_CODE,OD_NAME,OD_DEVICE,OD_COLOR,OD_COUNT,OD_PRICE,OD_DISCOUNT,GD_NUM,G_SAVEFILENAME from(
			(select OD_NUM,OD_CODE,OD_NAME,OD_DEVICE,OD_COLOR,OD_COUNT,OD_PRICE,OD_DISCOUNT,GD_NUM,G_SAVEFILENAME,O_NUM,O_ID,O_DATE,O_STATUS,O_WAY,O_TOT,O_TNUM,O_IMP from ORDER_DETAIL,
				(select GD_NUM,GD_CODE from GOODS_DETAIL),(select G_NUM,G_SAVEFILENAME from goods),(select O_ID,O_NUM,O_DATE,O_STATUS,O_WAY,O_TOT,O_TNUM,O_IMP from ORDERS)
				where O_NUM=OD_NUM AND OD_CODE = GD_CODE and GD_NUM = G_NUM)
		data)where OD_NUM = #{OD_NUM} and O_ID = #{O_ID} 
	<![CDATA[
	    and to_char(trunc(O_DATE),'YYYY-MM-DD') >= to_date(#{start_date}, 'YYYY-MM-DD' )
	    and to_char(trunc(O_DATE),'YYYY-MM-DD') <= to_date(#{end_date}, 'YYYY-MM-DD')
	]]>
	</select>
	
</mapper>